

body{
    background-image: url("../images/alexander-hamilton-sysk.jpg");
    background-repeat: repeat-y;
    background-size: 100%; 
    font-family: 'Satisfy', cursive;
}

.a:hover { 
    background-color: black;
    color: white;

}
.questions-remaining{
    background-color: white;
    line-height: 100%;
}


.container{
    margin-top: 40px;
}
.hint-button{
    background-color:gray;
    color: white;
    text-align: center;
    height: 75px;
    line-height: 75px;
    width: 200px;
    font-size: 20px;
}
.start-button{
    background-color: black;
    color: white;
    text-align: center;
    height: 100px;
    line-height: 100px;
    width: 300px;
    font-size: 30px;
    margin: 150px auto;
}
.title{
    background-color: white;
    height: 75px;
    font-size: 50px;
    line-height: 75px;
}

.test{
    float: left;
    height: 300px;
    width: 300px;
    background-color: gray;
    margin: 10px;
    display: inline-block;
}


.reset-button{
    background-color: black;
    color: white;
    text-align: center;
    height: 100px;
    line-height: 100px;
    width: 200px;
    font-size: 20px;
}

.ending-credits, .answer-screen{
    text-align: center;
    display: block;
    width: 100%;
    margin: 10px;
}

.one, .two, .three, .four{
    background-color: rgb(255, 255, 255,0.8);
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    height: 50px;
    width: 400px;
}

.timer{
height: 20px;
background-color: rgba(255, 255, 255, 0.8);
}

.stage{
    height: 500px;
    background-color: rgb(255, 255, 255,0.8);
    text-align: center;
    padding: 30px;
    font-size: 35px;
    line-height: 45px;
    display: "block";
}

.hint-row{
    height: 100px;
    color: black;
}

#hint{
    color: rgba(128, 128, 128, 0.2);
}